.open-sans-normal> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* Shared style */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary {
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    border: none;
    padding: 18px 35px;
    border-radius: 5000px;
    margin-right: 30px;
    transition: all 0.3s;
} 

.btn-primary:hover{
    transform: scale(1.15);
}

section {
    scroll-margin-top: 100px; 
}


.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
    font-family: Open Sans;
}

.section-description{
    font-size: 18px;
    color: #757575;
    margin: 40px 0;
}

.text-center{
    text-align: center;
}
/* header */
.header{
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}


nav ul{
    display: flex;
    align-items: center;
}


nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
    transition: .3s;
}

.nav li a:hover, 
.nav li a.active{
    color: #FD6E0A;
    

}




/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 200px;
    font-family: Open Sans;
}
.banner-content{
    max-width: 580px;
}

.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-weight: bold;
    font-size: 85px;
}


.banner-profile-pic{
    width: 580px;
}

/* main styles */

main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
}
.item-description{
    font-weight: 600;
}

/* skills section styles */

.service-description{
    font-weight: 400;
    font-size: 16px;
    color: #757575 ;

}

.services-container{
    display: flex;
    gap: 24px;
}

.service{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


/* Portfolio */
.portfolio-img {
    width: 100%;
}

.Portfolio {
    padding: 2rem;
}

.Portfolio .portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.portfolio-img img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.portfolio-img img:hover {
    transform: scale(1.05);
}




/* resume section styles */

.resume-column-title{
    font-weight: bold;
    font-size: 30px;
    font-family: open Sans;
    color: #474747;
}

.resume-container{
    display: flex;
    gap: 24px;
}

.experience-title{
    font-weight: bold;
    font-size: 25px;
    color: #474747;
    
}

.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}

.resume hr{
    margin: 30px 5px;
    border: none;
}

.resume-download-cv{
    margin-top: 50px;
}

/* footer style */

footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    font-family: Open Sans;
}

.footer a{
    gap: 24px;
}

.footer-column{
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

/* responsive media query */

@media screen and (max-width: 576px) {
    .skills-container, 
    .resume-container, 
    .banner, 
    footer, 
    nav,
    nav > ul,
    .about-items{
        flex-direction: column;
    }

    nav > ul{
        gap: 20px;
    }

    .btn-primary{
        margin-bottom: 20px;
    }

    .banner{
        margin: 20px;
    }

    .banner-profile-pic{
        width: 100%;
    }

    .header{
        background-image: none;
    }

    footer, .about{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }

    footer input[type="text"], 
    footer input[type="email"], 
    footer textarea{
        width: calc(100% - 40px);
    }
}

/* tablet specific media query */

@media screen and (min-width: 576px) and (max-width: 990px) {
    .banner{
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .Portfolio .portfolio-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .Portfolio .portfolio-grid {
        grid-template-columns: 1fr;
    }
}
